.video-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.video-display {
    width: 100vw;
    height: 80vh;
    background-color: white;
}
.details {
    background-color: #282828;
    color: white;
    padding: 0 15px;
    width: 100%;
}
.title {
    font-weight: bold;
    font-size: 15px;
}
.channel-name {
    font-size: small;
    font-weight: 400;
    font-family: cursive;
    display: flex;
    align-items: center;
}
.other-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.video-loader {
    display: block;
    text-align: center;
}
@media screen and (max-width: 600px) {
    .video-display {
        position: sticky;
        top: 55px;
        height: 33vh;
    }
    .other-details {
        display: block;
    }
}
